@page "/register"
@inherits UserRegisterViewModel

<h2 class="text-dark pt-2 pb-3">Utwórz nowe konto</h2>

<div class="row backgroundWhite border col-6">

    <EditForm method="post" OnSubmit="UserRegistration" EditContext="@editContext">
        <DataAnnotationsValidator />

        <div>
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label for="@userRegister.Username">Nazwa użytkownika</label>
                    </div>
                    <div class="col-8">
                        <InputText @bind-Value="userRegister.Username" class="form-control" />
                    </div>
                    <ValidationMessage For="() => userRegister.Username" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label for="@userRegister.Email">Email</label>
                    </div>
                    <div class="col-8">
                        <InputText @bind-Value="userRegister.Email" class="form-control" />
                    </div>
                    <ValidationMessage For="() => userRegister.Email" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label for="@userRegister.Password">Hasło</label>
                    </div>
                    <div class="col-8">
                        <InputText type="password" @bind-Value="userRegister.Password" class="form-control" />
                    </div>
                    <ValidationMessage For="() => userRegister.Password" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label for="@userRegister.PasswordConfirm">Potwierdź hasło</label>
                    </div>
                    <div class="col-8">
                        <InputText type="password" @bind-Value="userRegister.PasswordConfirm" class="form-control" />
                    </div>
                    <ValidationMessage For="() => userRegister.PasswordConfirm" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-success form-control">Potwierdź</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-danger form-control" @onclick="NavigateToMainMenu">Powrót</button>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </EditForm>
</div>